@model BeautySalonDomain.Model.TypeService

@{
    ViewData["Title"] = "Створення категорії";
}

<h1>Створення нової категорії</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" onkeypress="return onlyAllowLetters(event)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="create-or-back">
                <input class="btn btn-outline-primary" type="submit" value="Створити" />
                 <a class="btn" asp-action="Index">Назад</a>                
            </div> 
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/onlyAllowLetters.js"></script>

}
