@model IEnumerable<BeautySalonDomain.Model.Employee>

<h2>Всі працівники</h2>

@{
    var groupedEmployees = Model.GroupBy(e => e.Positions.Name).OrderBy(g => g.Key);
}

@foreach (var group in groupedEmployees)
{
    <h3>@group.Key</h3>

    <ul>
        @foreach (var employee in group.OrderBy(e => e.Name))
        {
            <li>@employee.Name</li>
        }
    </ul>
}
