@model IEnumerable<BeautySalonDomain.Model.Employee>

<h2>Всі працівники</h2>

@{
    var groupedEmployees = Model.GroupBy(e => e.Positions.Name).OrderBy(g => g.Key);
}

@foreach (var group in groupedEmployees)
{
    <h3>@group.Key</h3>

    <ul>
        @foreach (var employee in group.OrderBy(e => e.Name))
        {
            <li>
                <a href="@Url.Action("Details", "Employees", new { id = employee.Id })" title="Натисність щоб переглянути детальну інформацію про працівника">
                    @employee.Name
                </a>
            </li>
        }
    </ul>
}
