html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

* {
    font-weight: 400;
}

body {
    margin-bottom: 60px;
}

.table-name {
    font-weight: 800;
    font-size: 16px;
}

.table-titles th {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.navbar-brand {
    font-weight: 900;
}

a.navbar-brand:hover {
    text-decoration: none;
}


a.nav-link.text-dark {
    font-weight: 600;
}



.btn.btn-outline-primary:hover {
    text-decoration: none;
}

div.create-or-back {
    margin-top: 15px;
}

div.edit-or-back {
    margin-top: 15px;
}

dt.col-sm-2, label.control-label {
    color: #000;
}

.content, .about-us-wrapper {
    margin-top: 50px;
}

.carousel-item {
    height: 600px;
    object-fit: cover;
}

.gallery-home {
    margin-top: 25px;
    margin-bottom: 100px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    list-style-type: none;
}

 h2 {
    text-transform: uppercase;
    margin-bottom: 19px;
}

.about-us-main-wrapper p {
    letter-spacing: .1px;
    font-size: 17px;
    max-width: 940px;
}

p[action="right"] {
    text-align: left;
    max-width: 700px;
    margin-left: auto;
    margin-bottom: -25px;
}

.services-main-wrapper {
    margin-top: 100px;
}

.service-card-block {
    position: relative;
    width: 250px; 
    overflow: hidden; 
}

.service-card-img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: hidden;
    width: 250px;
    height: 0;
    transition: .5s ease;
}

.service-card-block:hover .overlay {
    height: 250px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.service-card:hover {
    text-decoration: none;
}

.service-card-wrapper .service-card-title {
    text-align: center;
}

.service-card-wrapper-row {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.service-card-title {
    margin-top: 15px;
    font-size: 18px;
}









