html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

* {
    font-weight: 400;
}

body {
    margin-bottom: 60px;
}

.table-name {
    font-weight: 800;
    font-size: 16px;
}

.table-titles th {
    vertical-align: middle;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a.navbar-brand {
    font-weight: 900;
}

a.navbar-brand:hover {
    text-decoration: none;
}


a.nav-link.text-dark {
    font-weight: 600;
}



.btn.btn-outline-primary:hover {
    text-decoration: none;
}

div.create-or-back {
    margin-top: 15px;
}

div.edit-or-back {
    margin-top: 15px;
}

dt.col-sm-2, label.control-label {
    color: #000;
}




