@model BeautySalonInfrastructure.Models.ReservationViewModel

@{
    ViewData["Title"] = "Створення бронювання";
}

<h1>Створення бронювання</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Client.FirstName">Ім'я</label>
                <input asp-for="Client.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Client.LastName">Прізвище</label>
                <input asp-for="Client.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Client.Phone">Телефон</label>
                <input asp-for="Client.Phone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Client.Email">Email</label>
                <input asp-for="Client.Email" class="form-control" />
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="TypeServicesId">Тип послуги</label>
                <select asp-for="TypeServicesId" asp-items="ViewBag.TypeServicesId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServicesId">Послуга</label>
                <select asp-for="ServicesId" asp-items="ViewBag.ServicesId" class="form-control"></select>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="EmployeeServicesId">Майстер</label>
                <select asp-for="EmployeeServicesId" asp-items="ViewBag.EmployeeServicesId" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="SchedulesId">Дата</label>
                <select asp-for="SchedulesId" asp-items="ViewBag.SchedulesDate" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="SchedulesId">Час початку</label>
                <select asp-for="SchedulesId" asp-items="ViewBag.SchedulesStartTime" class="form-control"></select>
            </div>

            <div class="create-or-back">
                <input class="btn btn-outline-primary" type="submit" value="Створити бронювання" />
                <a class="btn" asp-action="Index">Назад</a>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/js/phoneInput.js"></script>
    <script src="/js/cleanDropDownList.js"></script>
    <script src="/js/dynamicFilteringSystem.js"></script>
}
